/* - - - - - - - - - - - - - - - - - - - - -

 Title : Example Custom CSS : DinoMaster!
 URL : http://wufoo.com

 Last Updated : April 1, 2011

- - - - - - - - - - - - - - - - - - - - - 

INSTRUCTIONS
1. Copy / Paste all or portions of these
CSS rules into "custom.css".

2. Experiment and play.

- - - - - - - - - - - - - - - - - - - - - */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
/* - - - Default - - - */
/* Logo */

#logo a {
    background-image: url('//cdn.shopify.com/s/files/1/1405/4918/files/chic-workshop-logo-2017-min_x40.png?7044634879989489636');
    min-height: 0;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}
* html #logo a {
    /* IE6 png Support */
    background-image: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src="//cdn.shopify.com/s/files/1/1405/4918/files/chic-workshop-logo-2017-min_x40.png?7044634879989489636", sizingMethod="crop");
}
/* Backgrounds */
#container, html.embed {
    background-color: transparent!important;
}
html {
    background-image: none;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}
#logo {
    background-image: none;
    background-color: #fff;
    padding: 10px 20px;
}
#container {
    background: #FFFFFF
}
.wufoo input.text,
.wufoo textarea.textarea {
    background: #FFFFFF url(/images/fieldbg.gif) repeat-x top;
    width: 280px;
}
.wufoo .focused {
    background: #FFF7C0
}
.wufoo .instruct {
    background-color: #F5F5F5
}
/* Borders */

#container {
    border: 0 solid #cccccc
}
.wufoo .info {
    border-bottom: 1px solid #dedede;
}
.wufoo .instruct {
    border: 1px solid #e6e6e6
}
/* Typography */
.wufoo  {
    font-family: 'Open Sans', sans-serif;
}
.wufoo .info h2 {
    font-size: 160%;
    color: #656565;
    font-weight: 300;
 font-family: 'Open Sans', sans-serif;
}
.wufoo .info div {
    font-size: 95%;
    color: #656565;
 font-family: 'Open Sans', sans-serif;
}
.wufoo .section h3 {
    font-size: 110%;
    background: #FFFFFF;
    color: #656565;
 font-family: 'Open Sans', sans-serif;
}
.wufoo .section div {
    font-size: 85%;
    color: #656565;
 font-family: 'Open Sans', sans-serif;
}
.wufoo label.desc,
.wufoo legend.desc {
    font-size: 95%;
    color: #656565;
    font-weight: 400;
 font-family: 'Open Sans', sans-serif;
}
.wufoo li div,
.wufoo li div label,
.wufoo li span label {
    color: #656565;
 font-family: 'Open Sans', sans-serif;
}
.wufoo input.text,
.wufoo textarea.textarea,
.wufoo select.select,
.wufoo label.choice {
    font-size: 100%;
    color: #333333
     border: 1px solid #c4c4c4;
 font-family: 'Open Sans', sans-serif;
}
.wufoo label.choice {
    color: #656565;
 font-family: 'Open Sans', sans-serif;
}
.wufoo .instruct {
    font-size: 80%;
    color: #656565;
 font-family: 'Open Sans', sans-serif;
}
/* Customer Added */
form span.req {
    color: #c00 !important;
}
form li {
    padding: 6px 1% 30px 1%;
}
form li.buttons input {
    text-transform: uppercase;
    background-color: #929291;
    color: #fff;
    padding: 8px 10px;
    line-height: 1.42;
 letter-spacing: 1px;
 border-radius: 2px;
 border: none;
font-family: 'Open Sans', sans-serif;
}
.wufoo input.btTxt {
  font-size: 1em;
}
form li.buttons input:hover {
background-color: #abcb00;
}
.wufoo li.focused {
    background-color: #f7f7f7;
}
.powertiny {
    display: none!important;
}
/* Contact From */
#form1 #Field1,
#form1 #Field2{
	width: 135px!important;
}

/* Shopify 3 Months Trial Registration */
#form2 #Field4,
#form2 #Field5{
	width: 135px!important;
}
