body {
    background: #ece8e3;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif!important;
    color: #000000;
    line-height: 1.6;
    font-size: 13px;
    letter-spacing: 1px;
}
.aff-signup-left p {
    color: #000 !important;
}
.aff-signup-middle {
    background-color: transparent; 
    box-shadow: none;
}
.aff-signup-right {
    background-color: transparent; 
    box-shadow: none;
}
.sign-up-fields span {
    color: #000;
}
.button-primary-fullwidth {
    background-color: #000;
    border: 1px solid #000;
    box-shadow: none;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 13px;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif!important;
    letter-spacing: 1px;
}
.button-primary-flat-fullwidth {
    color: #000;
    border: 1px solid #000;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 13px;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif!important;
    letter-spacing: 1px;
}
.intro-text {
    color: #000;
    font-size: 26px;
    font-weight: bold;
}
.intro-text span {
    font-weight: bold;
}
.intro-text-alt {
    color: #000;
    font-size: 18px;
    font-weight: bold;
}
