body {
    background: #ece8e3;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    color: #000000;
    line-height: 1.6;
    font-size: 13px;
    letter-spacing: 1px;
}
